@charset "UTF-8";
/* CSS Document */
.clearfloat {
font-size: 0px;
margin: 0px;
padding: 0px;
clear: both;
float: none;
height: 0px;
width: 0px;
border: 0px none;
line-height: 0px;
}

h2{
	margin:auto;
	
}

header {
	background-color: #FC9;
	height: 250px;
	width: 1020px;
}

.mainbody {
	background-color: #00F;
/*	height: 910px;*/
	width: 1020px;
}

footer {
/*	background-color: #CC6;*/
	height: 240px;
	width: 1020px;
}
body {
	background-color: #F99;
	background-image: url(../artwork/background-task01.jpg);
	background-position: center top;
}

a {
	background-color: #F9C;
	display: block;
	height: 30px;
	width: 170px;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
a:hover {
	background-color: #FCF;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;